nav {
  background: #F5F2E8;
  padding: 10px; }
  nav * {
    color: #402736; }

.main-content {
  min-height: 500px; }
  .main-content .callout {
    color: #F5F2E8;
    border-radius: 6px;
    display: inline-block;
    padding: 10px; }
    .main-content .callout.tip {
      background-color: #8dac6e; }
    .main-content .callout.warning {
      background-color: #e85729; }

.homepage-row {
  padding: 3em 0;
  min-height: 80%; }
  .homepage-row .big-button {
    text-align: center;
    border: solid 3px #8B2A01;
    font-weight: bold;
    color: #8B2A01;
    border-radius: 6px;
    margin: auto;
    padding: 15px;
    min-width: 20em;
    text-decoration: none; }
    .homepage-row .big-button i {
      font-size: 10em;
      margin-bottom: 10px; }
    .homepage-row .big-button:hover {
      background: #8B2A01;
      color: #F5F2E8; }

footer {
  border-top: #ddd;
  padding-top: 10px;
  text-align: right;
  font-size: 0.75em; }

body {
  background: #F5F2E8;
  color: #402736;
  margin: 0 25px; }
  body a:hover {
    color: #402736; }
