---
---
@import 'colors.scss';
@import 'header.scss';
@import 'main-content.scss';
@import 'homepage.scss';
@import 'footer.scss';

body {
  background: $color-light-shade;
  color: $color-dark-shade;
  margin: 0 25px;

  a:hover {
    color: $color-dark-shade;
  }
}
