// Samvera logo colors
$samvera-yellow: #f7ad02;
$samvera-orange: #f75a00;
$samvera-red: #c60118;
$samvera-brown: #a44c31;

// Other site colors
$palette-light-shade: #F0F2EF;
$palette-light-accent: #F75A00;
$palette-main: #7F9199;
$palette-dark-accent: #94563E;
$palette-dark-shade: #242326;
