// Samvera logo colors
$samvera-yellow: #f7ad02;
$samvera-orange: #f75a00;
$samvera-red: #c60118;
$samvera-brown: #a44c31;

// Main palette
$color-light-shade: #F5F2E8;
$color-light-accent: #E17E75;
$color-main: #8B2A01;
$color-dark-accent: #879795;
$color-dark-shade: #402736;

// Special use colors
$color-assuring: #8dac6e;
$color-warning: #e85729;
