.homepage-row {
  padding: 3em 0;
  min-height: 80%;

  .big-button {
    text-align: center;
    // background: $dark-red;
    border: solid 3px $color-main;
    font-weight: bold;
    color: $color-main;
    border-radius: 6px;
    margin: auto;
    padding: 15px;
    min-width: 20em;
    text-decoration: none;

    i {
      font-size: 10em;
      margin-bottom: 10px;
    }

    &:hover {
      background: $color-main;
      color: $color-light-shade;
    }
  }
}
